@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
    background-color: #f2f2f2;
    position: relative;
    background-color: #001b35;
    overflow-x: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 128px);
    align-items: center;
    /* background-color: #f2f2f2; */
    padding: 10px;
    gap: 64px;
}

.grid-item {
    background-color: #fff;
    width: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 10px #22222250, -5px -5px 10px #CCCCCC70;
    border-radius: 8px;
    transition: 100ms;
    filter: grayscale(0.75);
}

.grid-item img {
    width: 128px;
    height: 128px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0px 5px 10px #744f1d50;
}

.grid-item:hover {
    transform: scale(1.5);
    filter: grayscale(0);
}

.grid-title {
    display: flex;
    align-items: center;
    height: 48px;
    font-weight: 700;
}

.overlay-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #222222DD;
    z-index: 100;
    transition: 100ms;
}

.overlay-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 576px;
    height: 768px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.overlay-card img {
    max-width: 576px;
    border-radius: 16px 16px 0 0;
}

.overlay-card-legend {
    height: 100px;
    width: 75%;
    color: white;
    font-weight: 500;
    font-size: 24px;
}